# Dependencies
node_modules/
**/node_modules/

# Output
.output/
**/.output/
.svelte-kit/
**/.svelte-kit/
build/
**/build/
.netlify/
**/.netlify/
.vercel/
**/.vercel/
.wrangler/
**/.wrangler/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Other
.vscode/
