$background-white: #f9f8f4;
$background-grey: #f1f1ed;
$background-grey: #edf1ed;
$primary-color: #00ab44;
$secondary-color: #57ba86;
$light-primary-color: #def0e6;
$heading-color: #000000b3;
$text-color: #242525;
$darker-white: #999999;
$medium-grey: #ababab;
$dark-grey: #444242;