$background-white: #f9f8f4;
$background-grey: #f1f1ed;
$primary-color: #00ab44;
$secondary-color: #57ba86;
$tertiary-color: #3f3f37;
$accent-color: #ff3e00;
$heading-color: rgba(0, 0, 0, 0.7);
$text-color: #242525;
$darker-white: #999999;
