@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;0,900;1,400&display=swap");
:root {
  font-family: 'Montserrat', Helvetica, sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: left;
}

body {
  font-size: 16px;
  color: #242525;
  background: #f9f8f4;
}

main {
  min-height: 80vh;
}

a {
  color: #242525;
  text-decoration: none;
  font-family: 'Poppins', Helvetica, sans-serif;
}

footer {
  background: #242525;
  color: #f9f8f4;
}

footer a {
  color: #f9f8f4;
}

h1 {
  font-size: 2.4em;
  font-family: 'Poppins', Helvetica, sans-serif;
  line-height: 1.3em;
  overflow: hidden;
  text-overflow: ellipsis;
}

h2 {
  font-size: 1.8em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  padding: 0 1em 0.5em 1em;
  font-family: 'Poppins', Helvetica, sans-serif;
}

h2:after {
  content: '';
  float: left;
  background: #00ab44;
  width: 100%;
  height: 4px;
  border-radius: 3px;
}

h3 {
  font-size: 1.3em;
  font-weight: 600;
  font-family: 'Poppins', Helvetica, sans-serif;
  color: #242525;
  margin: 0.75em 0;
  text-transform: uppercase;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

p {
  font-size: 19px;
  line-height: 1.6em;
  margin: 0.5em 0;
  font-family: 'Montserrat', Helvetica, sans-serif;
}

hr {
  border: 0.1px solid #edf1ed;
  margin: 1em 0;
}

.large {
  font-size: 2em;
  font-weight: 700;
  color: #00ab44;
  font-family: 'Poppins', Helvetica, sans-serif;
}

.cost {
  font-size: 2em;
  color: #242525;
  margin-bottom: 1em;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 3em 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.head {
  height: 76vh;
  max-height: 500px;
}

.head h1 {
  white-space: nowrap;
}

.head-home {
  height: 70vh;
}

.head-home h1 {
  white-space: normal;
}

th,
td {
  text-align: center;
  height: 50px;
  width: 130px;
  border-bottom: 1px solid #242525;
  border-right: 1px solid #242525;
}

td:last-child {
  border-right: none;
}

.available {
  background: #00ab44;
}

.half {
  height: 50%;
}

.two-margin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 2em;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
}

.body-text {
  font-size: 22px;
  margin: 0.5em 0;
  line-height: 1.7em;
  font-family: 'Montserrat', Helvetica, sans-serif;
}

.medium-text {
  font-size: 19px;
  margin: 0.5em 1em 2em 1em;
  line-height: 1.7em;
  font-family: 'Montserrat', Helvetica, sans-serif;
}

.btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  width: 100%;
}

.btn-head {
  width: 40%;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 1.5em;
  border-radius: 1em;
  color: #f9f8f4;
  background: #00ab44;
  font-size: 18px;
  font-weight: 600;
}

.sml-btn {
  padding: 0.5em 1em;
}

img {
  border-radius: 0.75em;
}

.card-wrapper {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 2em;
  margin: 2em 0;
}

.grid-column-three {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  background: #f9f8f4;
  padding: 2em;
  -webkit-box-shadow: 0 0 10px #00000020;
          box-shadow: 0 0 10px #00000020;
}

.grey {
  background: #edf1ed;
}

.inverted {
  background: #444242;
}

.inverted p,
.inverted h1,
.inverted h2,
.inverted h3 {
  color: #f9f8f4;
}

.notice {
  background: #00ab44;
  margin: 0;
  padding: 0.5em;
}

.notice p,
.notice a,
.notice h1,
.notice h2,
.notice h3 {
  color: #f9f8f4;
}

footer {
  height: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer section {
  width: 30vw;
  padding: 1em;
}

footer .footer-title {
  font-weight: 600;
  margin: 1em 0;
}

footer ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer li {
  margin: 0.5em 0;
}

footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}

footer p {
  font-size: 17px;
}

footer .small-links {
  width: 10vw;
  margin-top: 1em;
}

footer .footer-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tech ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 50px;
}

.tech ul li {
  padding: 0.5em;
  color: #242525;
}

.img-desc {
  display: none;
}

.small-text {
  font-size: 14px;
  color: #ababab;
  text-transform: capitalize;
}

.input-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 1.5em;
}

.input-wrapper .btn-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding: 1em 0;
}

input {
  border: 1px solid #ababab;
  padding: 0 1em;
  border-radius: 0.25em;
  height: 2.5em;
  width: 100%;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 16px;
  color: #242525;
}

select {
  border: 1px solid #ababab;
  padding: 0 1em;
  border-radius: 0.25em;
  height: 2.5em;
  width: 100%;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 16px;
  color: #242525;
}

textarea {
  border: 1px solid #ababab;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  width: 100%;
  height: 200px;
  resize: none;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 16px;
  color: #242525;
  line-height: 1.4em;
}

textarea:focus {
  outline: none;
  border-bottom: 3px solid #57ba86;
}

input:focus {
  outline: none;
  border-bottom: 3px solid #57ba86;
}

select:focus {
  outline: none;
  border-bottom: 3px solid #57ba86;
}

button {
  border: none;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 270px;
}

.form-btn {
  text-align: center;
  border: none;
  border-radius: 1em;
  color: #f9f8f4;
  background: #00ab44;
  font-size: 18px;
  font-weight: 600;
}

.form-btn .lighter {
  background: #57ba86;
}

nav {
  height: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1em;
}

nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav li {
  margin: 0 0.75em;
}

nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links {
  padding: 1em 0;
}

.nav-socials {
  padding: 1em 0;
}

.nav-title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  height: 100%;
  padding: 1em 0;
}

.toggle {
  display: none;
}

.contact-text-wrapper {
  margin-right: 3em;
}

.outline {
  border: 2px solid red;
}

.resume {
  padding: 0;
  margin: 0;
}

.resume .card-wrapper {
  padding: 1.5em;
  margin: 0;
}

.resume .input {
  width: 200px;
}

.resume textarea {
  width: 200px;
  height: 100px;
}

.resume .input-wrapper {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (min-width: 1367px) {
  .wrapper {
    width: 65%;
  }
}

@media (min-width: 1700px) {
  .wrapper {
    width: 55%;
  }
}

@media (max-width: 1300px) {
  .wrapper {
    width: 80%;
  }
  .btn-wrapper {
    margin-top: 1em;
  }
  .head {
    max-height: none;
  }
}

@media (max-width: 1100px) {
  .head svg {
    display: none;
  }
  * {
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    width: 90%;
  }
  body {
    overflow-x: hidden;
  }
  section {
    max-height: none;
  }
  svg {
    height: 200px;
  }
}

@media (max-width: 900px) {
  .toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .head h1 {
    white-space: normal;
  }
  svg {
    display: none;
  }
  nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
  }
  nav .nav-links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
  }
  nav .nav-links ul li {
    margin: 0.3em 0;
  }
  nav .nav-socials ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
  }
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 85%;
  }
  .service-wrapper {
    width: 65vw;
  }
  .service-wrapper p {
    text-align: left;
  }
  .card-wrapper {
    width: 100%;
    height: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .input {
    max-width: none;
    min-width: 280px;
  }
  .btn-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1em;
    width: 90%;
  }
  .btn {
    padding: 0.75em 1em;
    margin: 0.5em;
    border-radius: 1em;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  h2 {
    font-size: 24px;
    text-align: center;
  }
  h3 {
    font-size: 20px;
  }
  .head {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    max-height: none;
  }
  .timetable {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .table-headings b {
    padding: 1em;
  }
  .two-margin {
    display: none;
  }
  .fa-chevron-right {
    font-size: 0.9em;
  }
  .small-text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-text-wrapper {
    margin-right: 0;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  footer section {
    width: 90%;
  }
  footer .small-links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70%;
    margin: 1em;
  }
  footer .footer-icons ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .footer-icons ul li {
    margin: 1em;
  }
}

@media (max-width: 750px) {
  .service-wrapper {
    width: 75vw;
  }
}

@media (max-width: 600px) {
  .input-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .input-wrapper .btn-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .service-wrapper {
    width: 90vw;
  }
}
/*# sourceMappingURL=app.css.map */