@import '_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Zen+Kaku+Gothic+Antique&display=swap');
//extra fonts - might delete

:root {
	font-family: 'Poppins', Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	color: $text-color;
	background: $background-white;
}

a {
	color: $text-color;
	text-decoration: none;
}

footer {
	background: $text-color;
	color: $background-white;

	a {
		color: $background-white;
	}
}

h1 {
	font-size: 3em;
}

.body-text {
	font-size: 22px;
	margin: 0.5em 0;
	line-height: 1.7em;

	font-family: 'Montserrat', Helvetica, sans-serif;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	border-radius: 1em;
	color: $background-white;
	background: $primary-color;
	width: 40%;

	font-size: 18px;
	font-weight: 600;
}

img {
	border-radius: 0.75em;
}

.grey {
	background: $background-grey;
}
