@import '_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;900&display=swap'); //Poppins
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;0,900;1,400&display=swap'); //Montserrat

:root {
	font-family: 'Montserrat', Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	color: $text-color;
	background: $background-white;
}

a {
	color: $text-color;
	text-decoration: none;
	font-family: 'Poppins', Helvetica, sans-serif;
	display: flex;
	justify-content: center;
}

footer {
	background: $text-color;
	color: $background-white;

	a {
		color: $background-white;
	}
}

h1 {
	font-size: 3em;
	font-family: 'Poppins', Helvetica, sans-serif;
}

h2 {
	font-size: 1.8em;
	width: fit-content;
	font-weight: 700;
	padding: 0 1em 0.5em 1em;
	font-family: 'Poppins', Helvetica, sans-serif;
}

h2:after {
	content: '';
	float: left;
	background: $primary-color;
	width: 100%;
	height: 4px;
	border-radius: 3px;
}

h3 {
	font-size: 1.3em;
	font-weight: 600;
	font-family: 'Poppins', Helvetica, sans-serif;
	color: $text-color;
	margin: 0.75em 0;
	text-transform: uppercase;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

p {
	font-size: 1.1em;
	line-height: 1.5em;
	text-align: left;
}

.large {
	font-size: 2em;
	font-weight: 700;
	color: $tertiary-color;
	font-family: 'Poppins', Helvetica, sans-serif;
}

.cost {
	font-size: 2em;
	color: $text-color;
}

.center {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.center-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

section {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 2em 0;
	height: max-content;
}

.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 70%;

	margin-left: auto;
	margin-right: auto;
}

.head {
	height: 70vh;
	max-height: 500px;
}

th,
td {
	border-bottom: 1px solid $text-color;
	text-align: center;
	height: 50px;
	width: 130px;
}

.available {
	background: $primary-color;
}

.half {
	height: 50%;
}

.two-margin {
	width: 100%;
	height: 2em;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1em;
}

.body-text {
	font-size: 22px;
	margin: 0.5em 0;
	line-height: 1.7em;

	font-family: 'Montserrat', Helvetica, sans-serif;
}

.medium-text {
	font-size: 19px;
	margin: 0.5em 0 2em 0;
	line-height: 1.7em;
	font-family: 'Montserrat', Helvetica, sans-serif;
}

.btn-wrapper {
	display: flex;
	justify-content: space-evenly;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	width: 100%;
}

.btn-head {
	width: 70%;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em 1.5em;
	border-radius: 1em;
	color: $background-white;
	background: $primary-color;

	font-size: 18px;
	font-weight: 600;
}

.sml-btn {
	padding: 0.5em 1em;
}

img {
	border-radius: 0.75em;
}

.grey {
	background: $background-grey;
}

.card-wrapper {
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 1em;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	width: 100%;
	height: 100%;

	border-radius: 0.5em;
	background: $background-white;
	padding: 2em;

	box-shadow: 0 0 10px #00000010;
}

footer {
	height: 256px;

	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;

	section {
		width: 30vw;

		padding: 1em;
	}

	.footer-title {
		font-weight: 600;
		margin: 1em 0;
	}

	ul {
		list-style-type: none;
		display: flex;
		flex-direction: column;
	}

	li {
		margin: 0.5em 0;
	}

	a {
		display: flex;
		font-size: 14px;
	}

	.small-links {
		width: 10vw;
		margin-top: 1em;
	}

	.small-links a {
		color: #ababab;
	}
}

@media (min-width: 1367px) {
	.wrapper {
		width: 65%;
	}
}

@media (min-width: 1700px) {
	.wrapper {
		width: 55%;
	}
}

@media (max-width: 1200px) {
	body {
		overflow-x: hidden;
	}

	.toggle {
		display: flex;
	}

	.wrapper {
		flex-direction: column;
		width: 90%;
	}

	.nav-links {
		display: none;
	}

	svg {
		display: none;
	}

	.card-wrapper {
		width: 100%;
		height: 100%;
		grid-template-columns: 1fr;
	}

	.btn-wrapper {
		flex-direction: column;
		align-items: center;
		margin-top: 1em;
	}

	.btn {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.75em 1em;
		margin: 0.5em;
		border-radius: 1em;
		width: max-content;

		font-size: 18px;
		font-weight: 600;
	}

	h2 {
		font-size: 25px;
		text-align: center;
	}

	h3 {
		font-size: 20px;
	}

	footer {
		flex-direction: column;
		height: max-content;

		section {
			width: 100%;
		}

		.small-links {
			width: 100%;
			margin-top: 1em;
		}
	}

	.head {
		height: max-content;
		max-height: none;
	}

	.timetable {
		display: none;
	}

	.nav-socials {
		display: none;
	}
}
